/* General Styling */
body {
    font-family: "Arial", sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Form Box */
.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Title */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Toggle Buttons */
.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.toggle-buttons button {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background: #ddd;
    transition: 0.3s;
    border-radius: 20px;
}

.toggle-buttons .active {
    background: #000;
    color: white;
}

/* Form Inputs */
input,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Password Container */
.password-container {
    width: 100%;
    position: relative;
}

.password-container input {
    position: relative;
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    /* Space for the eye icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-size: 16px; */
    outline: none;
}

.eye-icon {
    position: absolute;
    width: 25px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: white;
    color: #666;
}

/* Error Messages */
.password-errors {
    text-align: left;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #333;
}

.submit-btn:disabled {
    background: gray;
    cursor: not-allowed;
}

/* Select Dropdown */
select {
    cursor: pointer;
}